<div ui-view="page" id="page"></div>
<div id="footer">
    <div layout="row">
        <div layout="column" layout-align="center start">
            <img src="../../../assets/img/nant-h-dcx-lockup.svg">
            <span>Copyright 2015 NANTHEALTH, LLC. All rights reserved.</span>
        </div>
        <div flex></div>
        <div layout="column">
            <span><span class="font-bold">ul: </span> DeviceConX INTERNAL DEVELOPMENT (Angelfish)</span>
            <span><span class="font-bold">server:</span> DeviceConX 05.11.000-SNAPSHOT 20160525143958</span>
        </div>
    </div>
</div>
<idle-session-warning-dialog countdown-seconds="Root.logoutWarningSeconds"></idle-session-warning-dialog>